<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>PeerShape</title>
  <link rel="icon" href="/favicon.ico" type="images/" />    
  <link href="../styles/main.css" rel="stylesheet" />
  <link href="styles/media.css" rel="stylesheet" />
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <!-- Header Begins -->
  <div id="header-border">
    <div class="container">
      <div id="navigation-bar">
        <div class="row">
          <div class="col-md-3">
            <img src="../images/logo.png" class="img-responsive">
          </div>
          <div class="col-md-6">
            <div class="nav_tab_describe">
              <ul class="nav_hover text-right">
                <li><a href="#">Dash board</a></li>
                <li><a href="#">Discover</a></li>
                <li><a href="#">Create Project</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <span class="alert_image"><img src="../images/alert.png" class="img-responsive"><a href="#" class="badge1" data-badge="11"></a></span>
            <span class="numberCircle"><a href="#">SB</a></span>
            <span class="profile_name">Sbhavnakar</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="describe-content">
    <div class="container">
      <br />  
      <br />
      <div class="progress_bar">
        <span class="flowCircle">1</span>
        <a href="#"><span class="flow">Describe</span></a>
        <span class="flowCircle flowCircle_margin">2</span>
        <a href="#"><span class="flow">Structure</span></a>
        <span class="flowCircle flowCircle_margin">3</span>
        <a href="#"><span class="flow">Preview</span></a>
      </div>
      <hr />
      <!--  <p class="profile_name">Describe</p> -->
      <div class="describe_heading">Describe Your Project !</div>
      <div class="project_form">
        <div class="row">
          <div class="col-sm-6">
            <div class="title">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label title-label">Title</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="Please enter your project title" class="title_form">
                  </div>
                </div>
              </form>
            </div>
            <div class="upload_image">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label title-label">image</label>
                  <div class="row">
                    <div class="col-sm-9">
                      <input type="text" placeholder="No file selected" class="label_form title_form upload_image_form">
                      <a href="#"><span class="choose_file">choose file</span></a>
                    </div>
                    <div class="col-sm-3"><button class="btn btn-info btn-attach" type="button">ATTACH</button></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="title">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label title-label">Category</label>
                  <div class="col-sm-10">
                    <div class="select-style select-style-describe">
                      <select>
                        <option value="Choose category">Choose Category</option>
                        <option value="Animals">Animals</option>
                        <option value="Art">Art</option>
                        <option value="Business">Business</option>
                        <option value="Community">Community</option>
                        <option value="Design and culture">Design and culture</option>
                        <option value="Disaster Relief">Disaster Relief</option>
                        <option value="Education">Education</option>
                        <option value="Environment">Environment</option>
                        <option value="Faith">Faith</option>
                        <option value="Food and Shelter">Food and Shelter</option>
                        <option value="Health and Medicine">Health and Medicine</option>
                        <option value="Land">Land</option>
                        <option value="Politics">Politics</option>
                        <option value="Social Justice">Social Justice</option>
                        <option value="Sports">Sports</option>
                        <option value="Technology">Technology</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="upload_image">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label title-label">short Description</label>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                      <textarea class="form-control description-textarea" rows="3" placeholder="140 characters"></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="upload_image">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label title-label">Long Description</label>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                      <textarea class="form-control description-textarea description_font" rows="3"  placeholder="Background"></textarea>
                      <textarea class="form-control description-textarea description_font" rows="3" placeholder="Impact"></textarea>
                      <textarea class="form-control description-textarea description_font" rows="3" placeholder="Need"></textarea>
                      <textarea class="form-control description-textarea description_font" rows="3" placeholder="Risks"></textarea>
                      <textarea class="form-control description-textarea description_font" rows="3" placeholder="Otherways to help"></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-6 border">
            <div id="attachement"> 
              <a href="#"><img src="../images/attach_image.png" class="img-responsive image_attachement">drop image to attach</a>
            </div>
            <div id="warning">
              <button type="button" class="btn btn-warning-outline">Save and Quit</button>
              <button class="btn btn-info btn-info-custom btn-next" type="button">Next&nbsp;<i class="next_icon"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
       <ul class="footer_nav">
        <li>
          <a href="#">FAQ</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">about us</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">Contact terms</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">blog</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">privacy policy</a>&nbsp &nbsp
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row padding_footer">
    <div class="col-md-2">
      <img src="../images/logo_footer.png" class="img-responsive peerShape">
    </div>
    <div class="col-md-5 copywrite">
      <div class="pull-left">
        &copy;2016.&nbsp&nbspPeerShape.com.&nbsp All rights reserved.  
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 copywrite terms_link">
      <div class="pull-right"> 
      <a href="#">Terms</a> &nbsp &nbsp|&nbsp 
        <a href="#">privacy policy</a>
      </div>
    </div>
  </div>
</div>
</footer>
