<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>PeerShape</title>
  <link rel="icon" href="/favicon.ico" type="images/" />    
  <link href="../styles/main.css" rel="stylesheet" />
  <link href="styles/media.css" rel="stylesheet" />
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <!-- Header Begins -->
  <div class="container">
    <div id="navigation-bar">
      <div class="row">
        <div class="col-md-6">
          <img src="../images/logo.png" class="img-responsive">
        </div>
        <div class="col-md-6 nav_tab_click">
          <ul class="start text-right">
            <li><a href="#">help</a>
            </li>
            <li><a href="#" data-toggle="modal" data-target="#myModal_Signin">log in</a>
            </li>
            <li><a href="#">sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Ends -->
  <!-- Forgot Password Section-->
  <div id="forgot_password">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-4 text-center center_column">
         <div class="panel panel-default">
          <div class="panel-body">
            <img src="../images/logo.png" class="img-responsive password_logo">
            <br>
            <h3>Forgot Password?</h3>
            <br>
            <p>If you have forgotten your password - reset it here.</p>
            <form class="form-inline" role="form">
              <div class="form-group form-custom-password">
                <div class="input-group input-group-password"> <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                  <input type="email" class="form-control" placeholder="Email address" />
                </div>
              </div>
            </form>
            <br>
            <p>You will receive an email if your account exists in our database.</p>
            <br>
            <input type="submit" class="btn btn-info btn-info-custom btn-block btn-password" value="Send My Password" name="commit">
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
       <ul class="footer_nav">
        <li>
          <a href="#">discover</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">about us</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">team</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">blog</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">terms</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">privacy policy</a>&nbsp &nbsp|&nbsp
        </li>
        <li>
          <a href="#">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row padding_footer">
    <div class="col-md-2">
      <img src="../images/logo_footer.png" class="img-responsive peerShape">
    </div>
    <div class="col-md-5 copywrite">
      <div class="pull-left">
        &copy;2016.&nbsp&nbspPeerShape.com.&nbsp All rights reserved.  
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 copywrite">
      <div class="pull-right"> TERMS &nbsp &nbsp|&nbsp PRIVACY POLICY</div>
    </div>
  </div>
</div>
</footer>
</html>